
*{
    margin: 0;
    padding: 0;
    background-color:lightblue;
}
/* body{ */
    /* height: 2000px; */

.w{
    width: 1220px;
    margin: auto;
}
.header{
    height: 42px;
    background-color: rebeccapurple;
    margin: 30px auto;
}
.logo{
    float: left;
    width: 198px;
    height: 100%;
    /* background-color: red; */
    /* background-image: url(images/logo.png); */
}

.logo img{
    width: 100%;
    height: 100%;
}

.nav{
    float: left;
}

.nav ul li {
list-style: none;
float: left;
margin: 0 15px;
}

.nav ul li a{
    /* display: block; */
    text-decoration: none;
    color: white;
    height: 42px;
    display: block;
    padding: 0 10px;
    font-size: 18px;
    line-height: 42px;
    /* padding: 20px; */
    /* background-color: yellow; */
/* margin-left: 30px; */
}

.search{
    width:412px;
    height: 42px;
    float: left;
    background-color: seagreen;
    margin-left: 70px;
}
.search input{
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid blue; 
    border-right: 0px;
    margin-right: 0px;
    margin-left: 0px;

    font-size: 14px;
    padding-left: 15px;
    color: darkgray;
}
.search button{
    margin-left: 0px;
    float: left;
width: 50px;

height: 42px;
/* background-color:yellow; */
background-image: url(images/234.png);
}
/* .name{
   
    float: left;
    width: 20px;
    height: 100%;
    background-color: springgreen;
   line-height: 20px;

} */
li{
    list-style: none;
}
.user{
   
    height: 42px;
    font-size: 20px;
    color: chartreuse;
    line-height: 42px;

}
.user img{
    margin-left: 50px;
width: 30px;
height: 30px;

}
.nav ul li a:hover {
     border-bottom: 2px solid #00a4ff;
     color:#00a4ff ;
     
}
.banner{
    height: 421px;
background-color: white;

}
.banner .w{
background-image: url(images/123.jpg);   
 height: 421px;
}
.subnav{
    float: left;
    margin-top: 0;
    width: 190px;
    height: 421px;
    background-color: rgba(0, 0, 0, 0.5);
    ;
    /* border-width: 1px;
    border-color: yellow; */
}
.subnav ul {

    background-color:rgba(0, 0, 0, 0);

}
.subnav ul li{
height: 45px;
line-height: 45px;
padding: 0 20px;
background-color: rgba(0, 0, 0, 0);

}
.subnav ul li a{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}
.subnav ul li a span{
    float: right;
    background-color: rgba(0, 0, 0, 0);

}
.subnav ul li a:hover{
    color: royalblue;
}
.subrght {
    float: right;
    width: 230px;
    height: 315px;
    background-color: white;
    margin-top: 50px;

}
.subrght h2{
    height: 48px;
    width: 230px ;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    color: #fff;
}
.bodd{
    padding: 0 20px;   
     background-color: rgba(0, 0, 0, 0);

}
.bodd ul{
    background-color: rgba(0, 0, 0, 0);

}
.bodd ul li h4{
font-size: 16px;
color: 4e4e4e;
background-color: rgba(0, 0, 0, 0);

}
.bodd ul li p{
    font-size: 12px;
    color: #a5a5a5;
    background-color: rgba(0, 0, 0, 0);

}
.bodd ul li{
    background-color: rgba(0, 0, 0, 0);
   padding: 15px 0;
    border-bottom: 1px solid #ccc;
    /* border-width: 1px; */
    
}
.bodd .more{
    display: block;
    border: 1px solid #00a4ff;
     height: 38px;

     text-align: center;
     font-size: 16px;
     line-height: 38px;
     text-decoration: none;
     color: #00a4ff;
     margin: 5px;
}
.goods{
    line-height: 60px;
    margin-top: 10px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.2);
}
.goods h3{
    background-color: rgba(0, 0, 0, 0);

    float: left;
    margin-left: 30px;
 font-size: 16px;
 color: #00a4ff;
}
.goods ul{
    background-color: rgba(0, 0, 0, 0);

    margin-left: 50px;
    float: left;
}
.goods ul li{
    background-color: rgba(0, 0, 0, 0);

    float: left;
}
.goods ul li a{
    background-color: rgba(0, 0, 0, 0);

    padding: 0  30px;
     font-size: 16px;
     color: #050505;
     border-left: 1px solid darkgray;
     text-decoration: none;
}
.goods .mod{
    background-color: rgba(0, 0, 0, 0);

float: right;
margin-right: 30px;
font-size: 14px;
 color: #00a4ff;
}
.box{
    margin-top: 30px;

}
.box .box-hd{
    background-color: rgba(0, 0, 0, 0);

}
.box .box-hd h3{

    float: left;
font-size: 18px;
/* color: #a5a5a5; */
}
.box .box-hd p{
    float: right;
    font-size: 13px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}
.box-bd{
    margin-top: 30px;
    background-color: rgba(100, 0, 0, 0.5);
 /* display: block; */
}
.box-bd ul{
    width: 1225px;
}
.box-bd ul li{
    width: 230px;
    height: 270px;
    background-color: white;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.box-bd ul li img{
    /* float: left; */
width: 230px;
height: 150px;
}
.box-bd ul li h4{
    /* float: left; */
    margin: 20px 20px 20px 20px;
font-size: 14px;
color: #050505;
font-weight: 400;
background-color: rgba(0, 0, 0, 0);

}
.box-bd ul li p{
    background-color: rgba(0, 0, 0, 0);

    margin: 0px 20px 20px 20px;
    font-size: 12px;
    color:darkgrey;
}
.box-bd ul li p span{
color: darkorange;
background-color: rgba(0, 0, 0, 0);

}



/* importent */
.clearfix:before,.clearfix:after{
    content:"";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}
/* importent */


.footer{
    background-color: white;
    width: 100%;
    height: 415px;
}
.footer .w{
    background-color: rgba(0, 0, 0, 0);

    /* background-color: pink; */
    height: 365px;
   padding-top: 50px;
}

.footer .w .nn{
    float: left;
 width: 550px;
 height: 100%;
 background-color: rgba(0, 0, 0, 0);

 /* background-color: plum; */
}
.footer .w ul{
    background-color: rgba(0, 0, 0, 0);

float: right;
margin-left: 100px;
width: 100px;
height: 100%;
/* background-color: powderblue; */
}
.footer .w ul li{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    /* margin-left: 20px; */
}
.footer .w ul li a{
 font-size: 13px;
 color: darkgray;
text-decoration: none;  
  background-color: rgba(0, 0, 0, 0);


}
.footer .w ul h4{
    background-color: rgba(0, 0, 0, 0);
 font-size: 15px;
}
.footer .w .nn img{
    height: 50px;
    width: 200px;
    margin: 20px 0 15px 0;
    color: #666;
    font-size: 12px;
}
.footer .w .nn a{
    background-color: rgba(0, 0, 0, 0);

    display: block;
  border: 1px solid  #00a4ff;
color:  #00a4ff;
font-size: 15px;
width: 118px;
height: 33px;
text-decoration: none;
text-align: center;
line-height: 33px;
margin-top: 20px;
}
.footer .w .nn p{
    background-color: rgba(0, 0, 0, 0);

}