
    body{
        color: black;
        font-size: 18px;
        left: 500px;
        right: 500px;
    }
h1{
   font-weight: 700;
    text-align: center;
}
p{
 text-indent: 2em;
 
}
.fabu{
    text-align: center;
    color: #888888;
    font-size: 12px;
}
.text{
    color: #888888;
    font-size: 12px;
}
.btn{
    color: #666;

}
.img{
    text-align: center;
}
.laiyuan{
    color: #888888;
    font-size: 14px;
    text-align: right;
    text-indent: -10em;
}
